@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    position: relative;
}
.SectionHome{
    height:850px;
    /* background:#111; */
    background:radial-gradient(at 75% 50%,#282828 10%, #111 90%);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:1;
}
.SectionHome::before{
    content: 'developer';
    font-size:9rem;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    left:4%;
    bottom:15%;
    color:transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgba(68,68,68,0.4);
    z-index:2;
    pointer-events: none;
}
.homeLeft,
.homeRight{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    z-index: 3;
}
.homeLeft{
    flex-direction: column;
}
.homeLeft .intro{
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.homeLeft .intro h1{
    font-size:3.25rem;
    color:#DDD;
}
.homeLeft .intro h1 span{
    color:#4380b0;
    font-size:3.4rem;
}
.homeLeft .intro h2{
    font-size:1.75rem;
    color:#ddd;
}
.homeLeft .intro input{
    background:#295174;
    padding:20px 40px;
    font-size:1.5rem;
    font-weight:bold;
    color:#ddd;
    border:none;
}
.homeRight{
    align-items: center;
}
.homeRight img{
    width:25rem;
}
@media only screen and (min-width:600px) and (max-width:1000px){
    .SectionHome::before{
        font-size:7rem;
        -webkit-text-stroke-width: 3px;
        left:4%;
        bottom:12.5%;
    }
    .homeLeft .intro h1{
        font-size:2.5rem;
        color:#CCC;
    }
    .homeLeft .intro h1 span{
        color:#4380b0;
        font-size:2.7rem;
    }
    .homeLeft .intro h2{
        font-size:1.5rem;
        color:#ccc;
    }
    .homeLeft .intro input{
        background:#295174;
        padding:15px 30px;
        font-size:1.25rem;
        font-weight:bold;
        color:#ccc;
        border:none;
    }
    .homeRight img{
        width:20rem;
    }
}
@media only screen and (max-width:600px){
    .SectionHome{
        height:850px;
        /* background:#111; */
        background:radial-gradient(#282828 10%, #111 90%);
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .SectionHome::before{
        font-size:3.25rem;
        -webkit-text-stroke-width: 2px;
        bottom:12.5%;
    }
    .homeLeft,
    .homeRight{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:20px;
    }
    .homeLeft .intro{
        font-family: 'Baloo Bhaijaan 2', cursive;
    }
    .homeLeft .intro h1{
        font-size:2rem;
        color:#EEE;
    }
    .homeLeft .intro h1 span{
        color:#4380b0;
        font-size:2.2rem;
    }
    .homeLeft .intro h2{
        font-size:1.25rem;
        color:#eee;
    }
    .homeLeft .intro input{
        background:#295174;
        padding:15px 30px;
        font-size:1rem;
        font-weight:bold;
        color:#eee;
        border:none;
    }
    .homeRight{
        align-items: center;
    }
    .homeRight img{
        width:15rem;
    }
}