*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
}
.Social{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.SocialLinks a img{
    width:45px;
}

.Icons-Link{
    display: none;
}

@media (min-width:600px) and (max-width:1000px){
    .Social{
        width:150px;
        height: 50px;
    }
    .SocialLinks a img{
        width:30px;
    }
}
@media only screen and (max-width:600px){
    .Social{
        width:125px;
        height: 50px;
    }
    .SocialLinks a img{
        width:25px;
    }
}

